main.py-4{
  padding: 0 !important;
}
body{
  background-color: #f1f3f6 !important;
}
.row-status-complete{
  opacity: .6;
  pointer-events: none;
}
.quicks-links{
 opacity: 0;
}
.dropdown-menu{
  padding: 0 !important;
}
.modal-card{
  min-width: 370px;
}
.welcome-name{
  display: inline-flex;
  margin: 7px;
  align-items: center;
  a{
    margin-left: 10px;
  }
}
.navbar, .navbar-menu, .navbar-start, .navbar-end{
  align-items: center !important;
}
.show-in-mobile{
  display: none !important;
  @media only screen and (max-width: 1024px) {
    display: flex !important;
  }
}
.show-in-desktop{
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color:#00d1b2;
  position: absolute;
  top:0;
  left:0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.banner-top {
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none;
  .banner-top-right{
    width: 50%;
    height: 100%;
    background: #7957d5;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-top-left{
    width: 50%;
    height: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.buttons .button {

}
.buttons{
  .button.is-success{
    background: #00d1b2 !important;
  }
}

.main-form {
  padding:1px 60px 80px 60px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 7px 8px 48px -6px rgba(0,0,0,0.15);
  -moz-box-shadow: 7px 8px 48px -6px rgba(0,0,0,0.15);
  box-shadow: 7px 8px 48px -6px rgba(0,0,0,0.15);
  border-radius: 15px;
  margin: 80px  auto;
  section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .field{
      width: 48%;
    }
  }
}
.small-triancle{
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #00d1b2 transparent transparent transparent
}
.triancle{
  position: absolute;
  top:0;
  left:0;
  width: 0;
  display: none;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #111b23 transparent transparent transparent
}
.parralax-section{
  height: 600px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 200px;
}
.airplain-par-text{
  font-size: 60px;
  line-height: 65px;
  color:#fff;
    width:85%;

  strong{
    color:#fff;
  }
}

img.airplain-par{
  position: relative;
  max-width: 750px;
  z-index: 9;
  right: 0;
}
.counters {
  width: 48%;
  display: flex;
  justify-content: space-between;
  .field{
    width: 30% !important;
    .field{
      width: 100% !important;
    }
  }
}
.cloud-par{
  position: absolute;
  bottom: -260px;
  display: none ;
  /* max-width: 500px; */
}
.parralax-section{
  display: none;
}
.navbar{
    z-index: 8 !important;
}

.modal-card-register{
  min-width: 600px;
}
.b-steps .steps .step-items .step-item .step-details .step-title{
  font-size: 1rem !important;
}
.button.next-level{
  opacity: 0.3;
  pointer-events: none;
  &.active{
    opacity: 1;
    cursor: pointer;
    pointer-events:auto ;
  }
}
.b-checkbox.checkbox + .checkbox{
  margin-left: 0 !important;
}
.long-check{
  max-width: 400px;
}
.next-level.is-success{
  span{
    display: flex;
  }
}
#main-video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
}

.form-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 70px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.title{
  margin: 0 !important;
  font-size: 21px !important;
}
.form-title{

}
.navbar{
  background-color: transparent !important;
  color:#fff !important;

}
.top-landing{

  display: flex;
  align-items: center;

  padding: 150px 0;
  justify-content: center;
}
.example-slide{
  width:600px;
  background-position: center;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}
.slider-land{
  max-width: 50%;
  display: none;
 img{
   height: 400px;
   width: 100%;
 }
}
.slider-land{

}
.banner-overlay-right{
  position: absolute;
  right:0;
  top:0;
}
.banner-overlay-left{
  position: absolute;
  left:0;
  bottom:0;
}
.title-container{
  max-width: 500px;
  position: relative;
  .svg-title-right{
    position: absolute;
    right:-60px;
    bottom:0;
  }
  .svg-title-left{
    position: absolute;
    left:-60px;
    bottom:0;
  }
  .likep{
    display: block;
    margin: 30px 0 0 0;
  }
  p{
    font-size: 40px;
    line-height: 1.4;
    font-weight: 500;
  }
}
.sec-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-part-img{
  width: 50%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom:-200px;
  -webkit-transition: all 1250ms ease;
  -moz-transition: all 1250ms ease;
  -ms-transition: all 1250ms ease;
  -o-transition: all 1250ms ease;
  transition: all 1250ms ease;

  &.show{
    bottom:0;
  }
}
.navbar-item, .navbar-link{
  color: #fff !important;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
  color: #fff !important;
  background: transparent !important;
}
.navbar-dropdown{
  background-color: #111b23 !important;
}
.navbar-link:not(.is-arrowless)::after{
  border-color: #96bb01 !important;
}
.dropdown.is-bottom-left .dropdown-menu{
  background-color: #111b23 !important;
  a{
    color: #96bb01 !important;
  }
}
.dropdown-content{
  background-color: #111b23 !important;
}

.form-title{
  .title{
    display: flex;
    align-items: center;
    img{
      margin-right: 10px;
    }
  }
}
.navbar-brand{
  a{
    color:#fff !important;
    font-size: 30px;
  }
}
.button.is-primary{
  background: #96bb01 !important;
}
.button.is-light{
  background: #fff !important;
}
.testt{
  background: #ff7800;
}
.main-form-welcome{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  .welcome-title{
    padding: 20px 0;
    h1{
      font-size: 20px;
      font-weight: bold;
    }
  }
}
//
//.switch input[type=checkbox]:checked + .check.is-danger{
//  background: #111b23 !important;
//}
//.switch input[type=checkbox]:focus + .check{
//  background: #111b23 !important;
//}
//.switch input[type=checkbox] + .check:before{
//  background: #8fb301 !important;
//}
//.switch input[type=checkbox] + .check{
//  background: #111b23 !important;
//}
//.switch input[type=checkbox]:focus:checked + .check.is-danger{
//  box-shadow: none !important;
//}
.order-admin-details{
  direction: rtl;
  p{
    text-align: right;
    direction: rtl;
    display: flex;
    strong{
      margin-right:10px;
    }
  }
}
.sep-custom{
  background: rgb(255, 120, 0);
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-title{
  .switch .control-label{
    min-width: 80px;
  }
}
.input:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .select select:focus, .is-focused.input, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .select select.is-focused, .input:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .select select:active, .is-active.input, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .select select.is-active{
  border-color: #111b23 !important;
  -webkit-box-shadow: 0 0 0 0.125em rgba(17, 27, 35, 0.25) !important;
  box-shadow: 0 0 0 0.125em rgba(17, 27, 35, 0.25)  !important;
}
.b-steps .steps .step-items .step-item.is-active .step-marker{
  border-color: #8fb301 !important;
  color: #8fb301 !important;
}
.b-steps .steps .step-items .step-item.is-completed .step-marker{
  background:#8fb301 !important ;
}
.btns-wrap{
  margin-top: 20px;
  .orange{
    background:#ff7800 !important ;
  }
  .link{
    background: #660066 !important;
  }
}
.datepicker {
  .dropdown-content{
    background: #fff !important;
  }
}
.datepicker-header{
   .field{
    width: auto !important;
  }
}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected{

}
.range-tab{
  .control{
    margin: 0 !important;
  }
  .button.is-primary{
    background: #111b23 !important;
    color:#8fb301 !important;
  }
  .button,.b-numberinput input[type=number]{
    border-radius: 0 !important;
  }
}
.add-package{
  display: flex;
  cursor: pointer;
  align-items: center;
  .add-package-circle{
    margin-right: 10px;
  }
  .add-package-circle-bg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1c30c;
    text-align: center;
    line-height: 15px;
    color: #fff;
  }
}
.wrap-del-index{
  display: flex;
  cursor: pointer;
  align-items: center;
  .delete-tab{
    display: flex;
    margin-right: 6px;
  }
}
.has-err{
  input{
    border: 2px solid red;
  }
}
.submit-form{
  .button span{
    display: flex;
  }
}
.main-dashboard{
  min-height: calc(100vh - 0px);
}
.head-dash{
  position: fixed;
  top:0;
  left:300px;
  width:calc(100% - 300px);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-sidebar{
  position: fixed;
  left: 0;
  top: 0;
  background: #1d2d3a;
  overflow-y: auto;
  height: 100%;
  width: 300px;
  z-index: 9;
}
.main-dashboard{
  padding-top: 100px;
  padding-left: 300px;
}
.user-profile{
  text-align: center;
  h2{
    font-weight: 300;
    font-size: 20px;
    color: #96bb01;
    line-height: 23px;
    text-align: center;
    span{
      font-size: 17px;
    }
  }
  p{
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 16px;
  }
  a{
    color: #ffffff;
    font-size: 16px;
    padding-top: 4px;
    &:hover{
      color: #96bb01
    }
  }
  .dash-log-out{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.dashboard-title{
  margin-top: 40px;
  margin-bottom: 20px;
}
.user_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 18px;

}
.dashboard-sidebar{

  h3{
    color: #99b3c8;
    font-weight: 300;
    text-align: center;
    font-size: 22px;
  }
  nav{
    margin-top: 30px;
    ul{
      li{
        a{
          border-bottom: 1px solid #2a4157;
          padding: 10px 30px 10px 30px;
          display: flex;
          align-items: center;
          color:#fff;
          transition: 0.5s ease all;
          &:hover{
            color: #96bb01
          }
          img{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
header .top_nav .action a {
  color: #ff7800;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 14px;

}
header .top_nav .action {

  vertical-align: middle;
  padding-top: 7px;

  position: relative;
  padding-bottom: 11px;
  display: flex;
  align-items: center;
}
.head-dash{
  background: #111b23;
  border-bottom: 4px solid #8fb301;
  padding: 13px 25px;
}
header .top_nav .action ul {
  position: absolute;
  top: 100%;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease all;

}
header .top_nav .action:hover{
  &:hover{
    ul{
      opacity: 1;
      visibility: visible;
    }
  }
}
header .top_nav .action ul li {
  min-width: 226px;
  min-height: 35px;
  background: #ff7800;
  color: #fff;
  margin-top: 9px;
  border-radius: 5px;
  position: relative;
  -o-transition: 0s ease all;
  -webkit-transition: 0s ease all;
  -moz-transition: 0s ease all;
  transition: 0s ease all;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  -o-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  transform: translateY(-15px);
}
header .top_nav .action ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 5px 12px 5px;
  margin: 0;
}
.brand_fidbek{
  .fidbek{
    a{
      font-size: 20px;
      line-height: 27px;
      color: #fff;
      background: #8eb33e;
      border-radius: 55px;
      text-align: center;
      vertical-align: text-bottom;
      padding: 0 10px;
      cursor: pointer;
      border: 0;
      margin: 0;
      outline: 0;
      box-sizing: border-box;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0;
      text-shadow: none;
      display: block;
    }
  }
}
.brand_fidbek{
  display: flex;
  align-items: center;
  .brand {
    color: #fff;
    font-size: 28px;
    position: relative;
    margin-left: 30px;
    &:after{
      content: "";
      display: block;
      background: #273846;
      width: 1px;
      height: 50px;
      position: absolute;
      left: -13px;
      top: -4px;
    }
  }
}
.main-dashborad-in{
  padding: 50px;

}
.main-dashboard{
  .main-form{
    margin: 0 auto;
    max-width: 85%;
  }
}
.main-form-trans{
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none;
  padding:  0 0 10px 0;
}
.main-table-title{
  h3{
    font-size: 33px;
    color: #a1a1a1;
    font-weight: 300;
  }
}
.main-table-box{
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-radius: 4px;
  border: 1px solid #ccc;
}
.maps-section{
  margin: 15px 0 0 0;
}
.popup-marker {
  padding: 14px;
}
.extra-info{
  margin-bottom: 20px;
  ul{
    display: flex;
    align-items: center;
    li{
      display: flex;
      align-items: center;
      margin-right: 10px;
      img{
        margin-right: 6px;
      }
      div{
        display: flex;
      }
    }
  }
}
.gmnoprint{
  display: none !important;
}
.make-draft-to-post{
  display: inline-block;
  background: #ff7800;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
}
.pack-wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 10px 0;
  li{
    position: relative;
    background: #fff;
    padding: 13px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 240px;
    strong{
      font-weight: 400;
    }
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    .num-pack{
      position: absolute;
      top: -15px;
      left: -15px;
      width: 30px;
      height: 30px;
      background: #25c5a1;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      line-height: 30px;
    }
  }
}
.wrap-ul-map{

}
.loader1{
  text-align:center;
}
.rotating{
    padding: 20px 0;
  -webkit-animation: rotating 2s linear infinite;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

.filter-inputs{
  display: flex;

  .wrap-input{
    margin-right: 20px;
    input,select{
      width: 100%;
      background-color:transparent;
      display: block;
      box-sizing: border-box;
      border-radius: 20px;
      height: 2.4375rem;
      margin: 0 0 1rem;
      padding: .5rem;
      border: 1px solid #cacaca;
      font-size: 15px;
      font-weight: 400;
      color: #0a0a0a;
      -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
      transition: box-shadow .5s,border-color .25s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus{
        outline: none;
      }
    }
    select{
      -webkit-appearance: menulist;
    }
  }
}


.main-table-box.my-account{
  max-width: 50%;
}
.inputs-account{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .wrap-input-flex{
    width: 48%;
  }
}
.wrap-profile-card-field{
  display: flex;

  .main-table-box.my-account{
    margin-right: 100px;
  }
  .card-profile{
    max-width: 20%;
  }
}
.wrap-input-flex{
  margin-bottom: 20px;
}
.change-password{
  a{
    background: #ff7800;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
  }
}
.user-image-bg{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.flex-btn{
  span{
    display: flex;
    align-items: center;
  }

  img{
    margin-left: 4px;
  }
}
.confirm-btn{
  height:2.5rem !important;
}
.pretty-link {
  display: inline-block;
  background: #EF4700;
  color: #fff;
  padding: 10px 13px;
  border-radius: 40px;
  margin: 10px 0 0 0;
}
.wrp-outsite-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-md-8{
  .card{
    padding: 20px;
  }
}
.reset-pas{
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
.main-form-disable{
  .field{

  }
}
a.go-back{
  margin-top: 70px;
}

div.darkTable {

  border: 2px solid #111b23;
  background-color: #fff;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
.divTable.darkTable .divTableCell, .divTable.darkTable .divTableHead {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
  vertical-align: middle;
}
.divTable.darkTable .divTableBody .divTableCell {
  font-size: 13px;
  color: #000;
}
.divTable.darkTable .divTableRow:nth-child(even) {

}
.divTable.darkTable .divTableHeading {
  background: #000000;
  border-bottom: 3px solid #000000;
}
.divTable.darkTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
.divTable.darkTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.darkTable .tableFootStyle {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
.darkTable .tableFootStyle {
  font-size: 12px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.wrap-ul-map{
  max-width: 60%;
}
.in-form-app{
  padding: 0 100px;
}
.tag.is-success.action{
  animation: glow 1s infinite alternate linear;
  -webkit-animation: glow 1s infinite alternate linear;
  -moz-animation: glow 1s infinite alternate linear;
  -o-animation: glow 1s infinite alternate linear;
  -ms-animation: glow 1s infinite alternate linear;
  cursor: pointer;
}
@-webkit-keyframes glow {
  from {
    background: #23d160; }
  to {
    background: #23d160; } }
@-moz-keyframes glow {
  from {
    background: #23d160; }
  to {
    background: #23d160; } }
@-o-keyframes glow {
  from {
    background: #23d160; }
  to {
    background: #23d160; } }
@-ms-keyframes glow {
  from {
    background: #23d160; }
  to {
    background: #23d160; } }
@keyframes glow {
  from {
    background: #23d160; }
  to {
    background: #23d160; } }
.form-title .title svg{
  margin-right: 10px;
}
a.router-link-exact-active.router-link-active{
  color:#96bb01 !important;
}
.wrap-price{
  display: flex;
  align-items: center;

  .field{
    margin: 0 !important;
    max-width: 140px;
    .control{
      margin: 0 !important;
    }

  }
  select{
    width: 60px;
    margin-left: 20px;
  }
}
.mb5{
  margin: 10px 0;
}
.noty{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.count{
  width: 30px;
  height: 30px;
  color:#fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #ff7800;
  justify-content: center;
}
.mobile-trigger{
  display: none;
}
.lp{
  .navbar-item{
      a.button.is-primary,a.button.is-light{
          background-color: transparent !important;
          color:#000;
           font-weight: bold;
          border: 1px solid #000;
        border-radius: 20px;
      }
   }
  .lp-mail{
    font-size: 16px;
    padding: 16px 24px;
    -webkit-appearance: none;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid;
    border-color: #ccc;
    outline: none;
    text-align: left;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
    margin: 8px 16px 8px 0;
    border-radius: 50px;
    height: 55px;
  }
  .lp-form-trigger{
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
  }
  .topic{
    color:#7957d5;
    font-weight: 500;
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 14px;
  }
  .signup-button-wrapper{
    button{
      background-color: #1d2d3a;
      width: 130px;
      color:#96bb01;
      cursor: pointer;
      border: none;
      height: 55px;
      border-radius: 50px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      &:hover{
        opacity: .7;
      }
    }
  }
 }
.third-part{
  width: 100%;
  overflow: hidden;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  margin: 60px 0 20px 0;
  position: relative;

  &:after{
    content: "";
    display: block;
    background-color: #112e41;
    opacity: .75;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
  }
}
.last-footer{
  margin: 60px 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f9f9f9;
  img{
    position: relative;
    top:3px;
  }
}
.last-part{
  text-align: center;
  .title-container{
    max-width:100%;
  }
  .lp-form-trigger{
    max-width: 500px;
    margin:20px auto;
  }
  svg{
    width: 110px !important;
    height: 150px !important;
    margin: auto;
    display: block;
  }
}
 .animate-top{
   opacity: 0;
   -webkit-transition: all 750ms ease;
   -moz-transition: all 750ms ease;
   -ms-transition: all 750ms ease;
   -o-transition: all 750ms ease;
   transition: all 750ms ease;
   animation: goUpProMenu 1s;
   animation-fill-mode: forwards;

   &.is-slow-1{
     animation: goUpProMenu 2s;
     animation-fill-mode: forwards;
   }
   &.is-slow-2{
     animation: goUpProMenu 3s;
     animation-fill-mode: forwards;
   }
   &.is-slow-3{
     animation: goUpProMenu 4s;
     animation-fill-mode: forwards;
   }
 }
@keyframes goUpProMenu {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.customers{
  margin: 40px 0;
  background-color:#f9f9f9;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img{
    width: 150px;
    display: block;
    margin: 0 15px;
  }
}
.welcome-name{
  color: #000;
}
/***************responsive***************/
@media screen and (max-width: 1700px) {
   .lp{
     .navbar{
       padding: 0 250px;
     }
   }
    .dashboard-sidebar{
        width:250px;
    }
    .wrap-profile-card-field .main-table-box.my-account{
        margin:0;
    }
    .wrap-profile-card-field .card-profile {
        max-width: 50%;
    }
    .main-table-box.my-account {
        max-width: 80%;
    }
    .user-profile p{
        padding-right: 20px;
        padding-left: 20px;
        font-size: 12px;
    }
    .dashboard-sidebar nav ul li a{
        font-size: 13px;
    }
    .head-dash{
        width: calc(100% - 250px);
    }
    .main-dashboard{
        padding-left: 250px;
    }
    .head-dash{
        left: 250px;
        padding: 0 25px;
    }
    .main-dashborad-in{
        padding-top: 10px;
    }
    .main-dashboard .main-form{
        max-width: none;
    }
}

@media screen and (max-width: 1270px) {
   .main-dashboard{
     padding: 20px;
   }
  .banner-overlay-left{
    display: none;
  }
  .main-dashborad-in{
    padding: 60px 0 0 0;
  }
  .head-dash{

  }
  .user-profile h2{
    margin-top: 20px;
  }
  .dashboard-sidebar nav ul li a{
    padding: 10px;
  }
  .dashboard-sidebar{
    left: -250px;
    padding-top: 20px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    &.show{
      left:0;
    }
  }
  .head-dash{
    left: 0;
    width: 100%;
  }
  .filter-inputs{
    margin: 20px 0 0 0;
  }
  .wrap-ul-map{
    max-width: 100%;
  }
  .mobile-trigger{
    display: block;
  }
  .detail-container{
    padding: 0 !important;
  }
  .brand_fidbek .fidbek a{
    font-size: 12px;
  }
  .quicks-links{
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .lp{
    .show-in-desktop{
      display: flex;
      justify-content: right;
    }
    .navbar-menu {
      display: flex !important;
      background: transparent !important;
      box-shadow: none !important;
    }
    .navbar{
      padding: 0 20px;
      display: flex;
    }
    .navbar-burger.burger{
      display: none !important;
    }
    .top-landing{
      padding: 120px 0;
    }
    .banner-overlay-right{
      width: 140px;
    }
    .banner-overlay-left{
      display: block;
      top:100px;
      bottom:auto;
      width: 100px;
    }
    .sec-part{
      padding: 0 20px;
    }
    .sec-part-img{
      justify-content: center;
    }
    .third-part{
      height: 300px;
    }
  }

}
@media screen and (max-width: 740px) {

  .lp{
    .top-landing{
      padding: 40px 15px;
    }

    .banner-overlay-right{
      width: 60px;
    }
    .banner-overlay-left{
      width: 50px;
    }
    .title-container p{
      font-size: 30px;
      line-height: 1.1;
    }
    .lp-form-trigger{
      display: block;
    }
    .svg-title-right{
      bottom:50px;
    }
    .svg-title-left{
      bottom:50px;
    }
    .signup-button-wrapper button{
      width: 100%;
    }
    .sec-part{
      display: block;
    }
    .sec-part-img{
      width: 100%;
    }
    .top-landing{
      overflow: hidden;
    }
    .navbar-brand a{
      font-size: 17px;
    }
    .navbar-item{
      padding: 0 10px 0 0;
    }
    .top-landing{
      padding-bottom: 0;
    }
    .banner-overlay-left{
      display: none;
    }
  }

  .quicks-links{
    display: none;
  }
  .chevron-cell{
    padding: 0 !important;

    &:before{
      padding: 0 !important;
    }
    .mdi:before, .mdi-set{
      color:#fff;
    }

    a{
      width: 100%;
      display: block;
      background-color: #111b23;
      position: relative;
      padding: 10px;
      &:after{
        content: "Show Details";
        position: absolute;
        left:10px;
        color:#8fb301;
        text-decoration: underline;
      }
    }
  }
  .main-table-box{
    padding: 0;
  }

  .filter-inputs{
    display: block;
  }
  .filter-inputs{
    margin: 0;
  }
  .brand_fidbek .brand:after{
    content: none;
  }
  .main-table-title{
    margin-bottom: 10px;
  }
  .main-table-title h3{
    font-size: 25px;
    line-height: 1.1;
  }
  .form-title{

  }
  .modal .animation-content{
    width: 95% !important;
  }
  div.darkTable{
      margin: 20px 0;
  }
  .maps-section{
   overflow: hidden;
  }
  .vue-map-container{
    max-width: 100%;
    width: 100% !important;
    height: 200px !important;
  }
  .form-title{
    margin: 0 !important;
  }
  .detail-container{
    padding: 10px !important;
  }
  .form-title .title{
    font-size: 15px !important;
  }
  .head-dash{
    padding: 0 9px;
  }
  .main-dashboard {
    padding: 10px;
  }
  .table{
    background-color: transparent !important;
  }
  .main-table-box{
    background-color: transparent;
  }
  .b-table .table.has-mobile-cards tr:not([class*="is-"]){
    background-color: #fff !important;
  }
  .b-table .table.has-mobile-cards tr:not(:last-child){
    margin-bottom: 30px !important;
  }
  .main-table-box{
    border: none;
  }
  .main-form{
    padding: 0 10px;
  }
  .form-top {
    margin: 20px 0;
  }
  .range-tab {
    max-width: 130px;
  }
  .add-package{
    margin: 10px 0;
    font-weight: bold;
    background: #111b23 !important;
    color: #8fb301 !important;
    padding: 10px;
  }
  .add-package .add-package-circle-bg{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-form section .field{
    width: 100%;
  }
  .submit-form{
    padding-bottom: 20px;
  }
  .wrap-profile-card-field{
    display: block;
  }
  .main-table-box.my-account{
    max-width: 100%;
  }
  .my-account{
    label{
      margin-top: 10px !important;
      margin-left: 5px !important;
    }
  }
  .inputs-account .wrap-input-flex{

  }
  .wrap-input-flex{
    margin: 0;
  }
  .inputs-account{
      .wrap-input-flex{
        &:last-child{
          margin-bottom: 20px;
          width: 100%;
        }
      }
  }
  .card-profile{
    width: 100%;
    max-width: 300px !important;
    margin: 20px auto;
  }
  .modal-card-register{
    min-width: 0;
  }
  .b-steps .steps .step-items .step-item .step-details{

    line-height: 1.1;
  }
  .b-steps .steps .step-items .step-item .step-details .step-title{
    font-size: 11px !important;
    line-height: 1 !important;
  }
}
@media screen and (max-width: 460px) {
  .lp{
    .sec-part-img{

    }
    .third-part{
      height: 200px;
      &:after{
        content: none;
      }
    }
    .top-landing{
      .title-container p{
        text-align: center;
      }
    }

    .last-part{
      padding: 0 14px;
      overflow: hidden;
    }
    .percent-text{

    }
    .customers img{
      width: 110px;
    }
    .customers{
      padding: 10px;
    }
    .title-container .svg-title-right{
      display: none;
    }
    .title-container .svg-title-left{
      display: none;
    }
    .last-part svg{
      position: relative;
      right:20px;
    }
    .third-part{
      margin: 0;
    }
    .last-footer{
      padding-left: 14px;
    }
  }
}
