main.py-4{
  padding: 0 !important;
}
body{
  background-color: #fff !important;
}
.dropdown-menu{
  padding: 0 !important;
}
.modal-card{
  min-width: 370px;
}
.welcome-name{
  display: inline-flex;
  margin: 7px;
}
.navbar, .navbar-menu, .navbar-start, .navbar-end{
  align-items: center !important;
}
.show-in-mobile{
  display: none !important;
  @media only screen and (max-width: 1024px) {
    display: flex !important;
  }
}
.show-in-desktop{
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color:#00d1b2;
  position: absolute;
  top:0;
  left:0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.banner-top {
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .banner-top-right{
    width: 50%;
    height: 100%;
    background: #7957d5;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-top-left{
    width: 50%;
    height: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.buttons .button {

}
.buttons{
  .button.is-success{
    background: #00d1b2 !important;
  }
}

.main-form {
  padding: 80px 170px;
  margin: 80px 0 80px 0;
  background: #f5f5f5;
  position: relative;
  -webkit-box-shadow: 7px 8px 48px -6px rgba(0,0,0,0.15);
  -moz-box-shadow: 7px 8px 48px -6px rgba(0,0,0,0.15);
  box-shadow: 7px 8px 48px -6px rgba(0,0,0,0.15);
  >section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .field{
      width: 48%;
    }
  }
}
.small-triancle{
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #00d1b2 transparent transparent transparent
}
.triancle{
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #00d1b2 transparent transparent transparent
}
.parralax-section{
  height: 600px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 200px;
}
.airplain-par-text{
  font-size: 60px;
  line-height: 65px;
  color:#fff;
    width:85%;

  strong{
    color:#fff;
  }
}

img.airplain-par{
  position: relative;
  max-width: 750px;
  z-index: 9;
  right: 0;
}
.counters {
  width: 48%;
  display: flex;
  justify-content: space-between;
  .field{
    width: 30% !important;
    .field{
      width: 100% !important;
    }
  }
}
.cloud-par{
  position: absolute;
  bottom: -260px;
  display: none ;
  /* max-width: 500px; */
}
.parralax-section{
  display: none;
}
.navbar{
    z-index: 8 !important;
}

.modal-card-register{
  min-width: 600px;
}
.b-steps .steps .step-items .step-item .step-details .step-title{
  font-size: 1rem !important;
}
.button.next-level{
  opacity: 0.3;
  pointer-events: none;
  &.active{
    opacity: 1;
    cursor: pointer;
    pointer-events:auto ;
  }
}
.b-checkbox.checkbox + .checkbox{
  margin-left: 0 !important;
}
.long-check{
  max-width: 400px;
}
.next-level.is-success{
  span{
    display: flex;
  }
}
#main-video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
}