@import url(https://fonts.googleapis.com/css?family=Nunito);main.py-4 {
  padding: 0 !important;
}

body {
  background-color: #fff !important;
}

.dropdown-menu {
  padding: 0 !important;
}

.modal-card {
  min-width: 370px;
}

.welcome-name {
  display: -webkit-inline-box;
  display: inline-flex;
  margin: 7px;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  -webkit-box-align: center !important;
          align-items: center !important;
}

.show-in-mobile {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  .show-in-mobile {
    display: -webkit-box !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 1024px) {
  .show-in-desktop {
    display: none;
  }
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #00d1b2;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner-top {
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
}

.banner-top .banner-top-right {
  width: 50%;
  height: 100%;
  background: #7957d5;
  z-index: 900;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.banner-top .banner-top-left {
  width: 50%;
  height: 100%;
  z-index: 900;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.buttons .button.is-success {
  background: #00d1b2 !important;
}

.main-form {
  padding: 80px 170px;
  margin: 80px 0 80px 0;
  background: #f5f5f5;
  position: relative;
  box-shadow: 7px 8px 48px -6px rgba(0, 0, 0, 0.15);
}

.main-form > section {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.main-form > section .field {
  width: 48%;
}

.small-triancle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #00d1b2 transparent transparent transparent;
}

.triancle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #00d1b2 transparent transparent transparent;
}

.parralax-section {
  height: 600px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 200px;
}

.airplain-par-text {
  font-size: 60px;
  line-height: 65px;
  color: #fff;
}

.airplain-par-text strong {
  color: #fff;
}

img.airplain-par {
  position: relative;
  max-width: 750px;
  z-index: 9;
  right: 0;
}

.counters {
  width: 48%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.counters .field {
  width: 30% !important;
}

.counters .field .field {
  width: 100% !important;
}

.cloud-par {
  position: absolute;
  bottom: -260px;
  display: none;
  /* max-width: 500px; */
}

.parralax-section {
  display: none;
}

nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
  display: none;
}

